@font-face {
  font-family: "Dreaming Outloud";
  src: url("../fonts/dreaming-outloud-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Dreaming Outloud", sans-serif;
  color: white;
  background-color: rgba(27, 102, 64, 0.308);
  overflow: hidden;
}

#game-intro {
  width: 1000px;
  height: 600px;
  background-image: url("../images/background-img.png");
  background-size: cover;
  border-radius: 2%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  opacity: 1;
  visibility: visible;
  position: relative;

  transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}

#game-intro.hidden {
  opacity: 0;
  visibility: hidden;
}

#header-actions {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 25%;
  transform: translateX(110%);
}

#game-title {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 0.3rem;
}

.stitch,
.reuben {
  position: absolute;
  display: flex;
}

.stitch {
  left: 12%;
  top: 35%;
}

.stitch img,
.reuben img {
  height: 150px;
  animation: jump 0.8s ease-in-out infinite;
  transform-origin: center;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}

.reuben {
  right: 20%;
  transform: translateY(230%);
}

.arrow {
  background-image: url("../images/arrow-element.png");
  position: absolute;
  width: 100px;
  height: 200px;
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  transform-origin: 50% 100%;
  transition: transform 0.5s ease;
}

.custom-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(77, 120, 97, 255);
  color: rgba(229, 182, 34, 255);
  border: none;
  cursor: pointer;
}

#start-btn {
  width: 200px;
  height: 40px;
  font-size: 1.7rem;
  border-radius: 8px;
}

#start-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#game-screen,
#battle-arena,
#game-end-lose,
#game-end-win,
#modal-screen {
  opacity: 0;
  visibility: hidden;
  display: none;

  transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}

#game-screen {
  background-image: url("../images/background-game.jpg");
  background-size: cover;
  border-radius: 2%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

#music-action {
  width: 60px;
  height: 60px;
  position: absolute;
  transform: translate(40%, 450%);
  cursor: pointer;
}

#music-action {
  filter: invert(1);
}

#battle-arena {
  width: 500px;
  height: 500px;
  background-color: #f68d77;
  border-radius: 50%;
  transform: translate(53%, 10%);
}

#game-screen.active,
#battle-arena.active,
#game-end-lose.active,
#game-end-win.active,
#modal-screen.active {
  opacity: 1;
  visibility: visible;
}

#game-end-lose {
  width: 1000px;
  height: 600px;
  background-image: url("../images/end-game-lose.jpg");
  background-size: cover;
  border-radius: 2%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.reuben-end,
.stitch-end {
  position: absolute;
  display: flex;
}

.reuben-end img {
  width: 200px;
  height: 300px;
  transform: translate(370%, 105%);
}

.stitch-end img {
  width: 150px;
  height: 150px;
  transform: translate(250%, 300%);
}

#game-end-win {
  width: 1000px;
  height: 600px;
  background-image: url("../images/game-end-win.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.end-game-action {
  display: flex;
  transform: translate(55%, 55%);
}

#try-again-btn {
  display: flex;
  width: 250px;
  height: 60px;
  font-size: 1.8rem;
  border-radius: 8px;
}

#try-again-btn:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

#try-again-btn:hover {
  animation: shake 0.3s ease-in-out infinite;
}

#game-end-win .end-game-action {
  transform: translate(250%, 60%);
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-3px);
  }
  50% {
    transform: translateX(3px);
  }
  75% {
    transform: translateX(-3px);
  }
}

.enemy-health,
.player-health {
  position: absolute;
  width: 800px;
  height: 25px;
  appearance: none;
  border-radius: 10px;
  transform: translateX(13%);
  overflow: hidden;
}

.enemy-health {
  margin-top: 10px;
  border: 1px solid #f6ef9f;
}

.enemy-health::-webkit-progress-bar,
.player-health::-webkit-progress-bar {
  background: transparent;
  border-radius: 10px;
  opacity: 0.6;
}

.enemy-health::-webkit-progress-value,
.player-health::-webkit-progress-value {
  border-radius: 10px;
  clip-path: inset(0 0 0 0 round 10px);
}

.enemy-health::-webkit-progress-value {
  background: #f6ef9f;
}

.player-health::-webkit-progress-value {
  background: #51d5fe;
}

.enemy-health::-moz-progress-bar,
.player-health::-moz-progress-bar {
  border-radius: 10px;
  opacity: 0.6;
}
.enemy-health::-moz-progress-bar {
  background: #f6ef9f;
}

.player-health::-moz-progress-bar {
  background: #51d5fe;
}

.player-health {
  border: 1px solid #51d5fe;
  transform: translate(13%, 2250%);
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease-out;
}

.fade-in {
  opacity: 1;
  transition: opacity 1s ease-in;
}

#modal-screen {
  position: absolute;
  width: 600px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 2%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1000;
  transition: opacity 1s ease-in-out;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 50px;
}

#modal-screen p {
  font-size: 1.2rem;
}

#how-to-play-actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 50px;
  transform: translateX(50%);
}

.keyboard-arrow {
  width: 50px;
  height: 50px;
}

.keyboard-space {
  width: 80px;
  height: 40px;
}
