@font-face {
  font-family: "Dreaming Outloud";
  src: url("/fonts/dreaming-outloud-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Dreaming Outloud", sans-serif;
  color: white;
  background-color: rgba(27, 102, 64, 0.308);
}

#game-intro {
  width: 1000px;
  height: 600px;
  background-image: url("/images/background-img.png");
  background-size: cover;
  border-radius: 2%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  position: relative;
}

#header-actions {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 25%;
  transform: translateX(110%);
}

#game-title {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 0.3rem;
}

.stitch,
.reuben {
  position: absolute;
  display: flex;
}

.stitch {
  left: 12%;
  top: 35%;
}

.stitch img,
.reuben img {
  height: 150px;
  animation: jump 0.8s ease-in-out infinite;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}

.reuben {
  right: 10%;
  transform: translateY(230%);
}

.custom-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(77, 120, 97, 255);
  color: rgba(229, 182, 34, 255);
  border: none;
  cursor: pointer;
}

#start-btn {
  width: 200px;
  height: 40px;
  font-size: 1.7rem;
  border-radius: 8px;
}

#start-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#game-screen,
#battle-arena {
  display: none;
}

#game-screen {
  background-image: url("/images/background-game.jpg");
  background-size: cover;
  border-radius: 2%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

#battle-arena {
  width: 500px;
  height: 500px;
  background-color: #f68d77;
  border-radius: 50%;
  transform: translate(53%, 10%);
}
